<?xml version="1.0" encoding="UTF-8"?>
<javaee:taglib version="2.1" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd ">
  <javaee:tlib-version>1</javaee:tlib-version>
  <javaee:short-name>my</javaee:short-name>
  
  <javaee:tag>
    <javaee:name>greet</javaee:name>
    <javaee:tag-class>chapter7.GreetTag</javaee:tag-class>
    <javaee:body-content>empty</javaee:body-content>
    <javaee:attribute>
      <javaee:name>user</javaee:name>
      <javaee:required>false</javaee:required>
      <javaee:rtexprvalue>true</javaee:rtexprvalue>
      <javaee:type>string</javaee:type>
    </javaee:attribute>
  </javaee:tag>
  
  <javaee:tag>
    <javaee:name>loop</javaee:name>
    <javaee:tag-class>chapter7.LoopTag</javaee:tag-class>
    <javaee:body-content>JSP</javaee:body-content>
    <javaee:attribute>
      <javaee:name>count</javaee:name>
      <javaee:required>true</javaee:required>
    </javaee:attribute>
  </javaee:tag>
</javaee:taglib>
